.box{
    position: relative;
    color: #FFFF;
    background-color: black;
}

.boxL{
  top:3px;  
  position: absolute;
  text-align: center;
  display: grid;
  width: 250px;
  height: 600px;
  float: left;
}


.btn-space{
    padding: 14px 28px;
}

.clr{
    margin-left: 46%;
}