
 <!-- Modal 1 -->
 <ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion de una película</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
    <div class="container d-flex justify-content-center align-items-center">



    <form   #formMovie="ngForm"  
            (ngSubmit)="onSubmitMovie(formMovie.value)"
            style="width: 450px;">
            
        <div class="mb-3">
        <label 
                class="form-label">Título</label>
        <input type="number" 
                class="form-control" 
                name="input1"
                ngModel>
        </div>
        <div class="mb-3">
        <label 
                class="form-label">Género</label>
        <input type="number" 
                name="input2" 
                class="form-control" 
                ngModel>
        </div>
        <div class="mb-3">
        <label  
                class="form-label">Calificación</label>
        <input type="number" 
                name="input3" 
                class="form-control"
                ngModel>
        </div>
        <div *ngIf="alert" class="alert alert-primary" role="alert">
                La predicción es: {{res.res}}
        </div>
        <div class="modal-footer">
                <button type="submit"  class="btn btn-outline-success"> Predecir </button>
        </div>
        
    </form>
</div>
    </div>
   
</ng-template>

<!-- End modal 1-->


 <!-- Modal 2 -->
 <ng-template #contenido2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion del Bitcoin</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center"
    >
    <form 
            action="php/check-login.php" 
            method="post" 
            style="width: 450px;">
            
        <div class="mb-3">
        <label for="high" 
                class="form-label">Alto</label>
        <input type="text" 
                class="form-control" 
                name="high" 
                id="high">
        </div>
        <div class="mb-3">
        <label for="low" 
                class="form-label">Bajo</label>
        <input type="text" 
                name="low" 
                class="form-control" 
                id="low">
        </div>
    </form>
</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close()"> Predecir </button>
    </div>
</ng-template>

<!-- End modal 2-->

 <!-- Modal 3 -->
 <ng-template #contenido3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion de Cirrosis</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center"
    >
    <form   #formCir="ngForm"  
            (ngSubmit)="onSubmitCir(formCir.value)"
            style="width: 450px;">
            
        <div class="mb-3">
        <label 
                class="form-label">Número de días</label>
        <input type="number" 
                class="form-control" 
                name="input1"
                ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">Estado</label>
            <input type="text" 
                    class="form-control" 
                    name="input2"
                    ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">Droga</label>
            <input type="text" 
                    class="form-control" 
                    name="input3"
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Años</label>
            <input type="number" 
                    class="form-control" 
                    name="input4"
                    ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">Género</label>
            <input type="text" 
                    class="form-control" 
                    name="input5"
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Accites</label>
            <input type="text" 
                    class="form-control" 
                    name="input6"
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Pathonegaly</label>
            <input type="text" 
                    class="form-control" 
                    name="input7"
                    ngModel>
        </div>
        <div class="mb-3">
            <label
                    class="form-label">Spiders</label>
            <input type="text" 
                    class="form-control" 
                    name="input8"
                    ngModel>
        </div>
        <div class="mb-3">
        <label 
                class="form-label">Edema</label>
        <input type="text" 
                name="input9" 
                class="form-control"
                ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Bilirrubina</label>
            <input type="number" 
                    name="input10" 
                    class="form-control"
                    ngModel>
            </div>
            <div *ngIf="alert" class="alert alert-primary" role="alert">
                La predicción es: {{res.result}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" > Predecir </button>
            </div>
    </form>
</div>
    </div>

</ng-template>

<!-- End modal 3-->

 <!-- Modal 4 -->
 <ng-template #contenido4 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion de Hepatitis</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center"
    >
    <form 
            #formHep="ngForm"  
            (ngSubmit)="onSubmitHep(formHep.value)" 
            style="width: 450px;">
            
        <div class="mb-3">
        <label
                class="form-label">ALB</label>
        <input type="text" 
                class="form-control" 
                name="input1" 
                ngModel>
        </div>
        <div class="mb-3">
        <label 
                class="form-label">ALP</label>
        <input type="text" 
                name="input2" 
                class="form-control" 
                ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">AST</label>
            <input type="text" 
                    name="input3" 
                    class="form-control" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">BIL</label>
            <input type="text" 
                    name="input4" 
                    class="form-control" 
                    ngModel>
        </div>

        <div class="mb-3">
            <label 
                class="form-label">CHE</label>
            <input type="text" 
                name="input5" 
                class="form-control" 
                ngModel>
        </div>
        <div *ngIf="alert" class="alert alert-primary" role="alert">
                La predicción es: {{res.result}}
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" > Predecir </button>
        </div>
    </form>
</div>
    </div>
</ng-template>

<!-- End modal 4-->


 <!-- Modal 5 -->
 <ng-template #contenido5 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion del IMC</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center"
    >
    <form 
            action="php/check-login.php" 
            method="post" 
            style="width: 450px;">
            
        <div class="mb-3">
        <label for="weight" 
                class="form-label">Peso</label>
        <input type="text" 
                class="form-control" 
                name="weight" 
                id="weight">
        </div>
        <div class="mb-3">
        <label for="nec" 
                class="form-label">NEC</label>
        <input type="text" 
                name="nec" 
                class="form-control" 
                id="nec">
        </div>
    </form>
</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close()"> Predecir </button>
    </div>
</ng-template>

<!-- End modal 5-->

 <!-- Modal 6 -->
 <ng-template #contenido6 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediccion Stroke</h4>
        <button class="btn btn-outline-danger bi-x-lg"
        type="button" 
        (click)="modal.dismiss()">
        Cerrar
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center"
    >
    <form 
           #formStroke="ngForm"  
           (ngSubmit)="onSubmitStroke(formStroke.value)" 
            style="width: 450px;">
            
        <div class="mb-3">
        <label 
                class="form-label">Género</label>
        <input type="text" 
                class="form-control" 
                name="input1" 
                ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">Edad</label>
            <input type="text" 
                    class="form-control" 
                    name="input2" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label 
                    class="form-label">Hipertensión</label>
            <input type="text" 
                    class="form-control" 
                    name="input3" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Enfermedad cardiaca</label>
            <input type="text" 
                    class="form-control" 
                    name="input4" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Casado(a)</label>
            <input type="text" 
                    class="form-control" 
                    name="input5" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Tipo de trabajo</label>
            <input type="text" 
                    class="form-control" 
                    name="input6" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Tipo de residencia</label>
            <input type="text" 
                    class="form-control" 
                    name="input7" 
                    ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Nivel de glucosa</label>
            <input type="text" 
                    class="form-control" 
                    name="input8" 
                    ngModel>
        </div>
        <div class="mb-3">
        <label  
                class="form-label">BMI</label>
        <input type="text" 
                name="input9" 
                class="form-control" 
                ngModel>
        </div>
        <div class="mb-3">
            <label  
                    class="form-label">Estado de fumador</label>
            <input type="text" 
                    name="input10" 
                    class="form-control" 
                    ngModel>
            </div>
            <div *ngIf="alert" class="alert alert-primary" role="alert">
                La predicción es: {{res.result}}
                </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success"> Predecir </button>
        </div>
    </form>
</div>
    </div>

</ng-template>
        
<!-- End modal 6-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand clr" href="#"> <h3>PredicTEC</h3></a>
          </div>
        </nav>
<div class="box">

    <div class="boxL"> 
        <div>            
        </div>
        <div>Modelos</div>
        <button class="btn btn-outline-secondary bi bi-person-plus-fill" (click)="openSM(contenido)" >
            Predecir película
        </button>
        
        <button class="btn btn-outline-secondary bi bi-person-plus-fill"(click)="openSM2(contenido2)" >
            Predecir Bitcoin
        </button>

        <button class="btn btn-outline-secondary bi bi-person-plus-fill"(click)="openSM3(contenido3)" >
            Predecir Cirrosis
        </button>

        <button class="btn btn-outline-secondary bi bi-person-plus-fill" (click)="openSM4(contenido4)">
            Predecir Hepatitis
        </button>
    
        <button class="btn btn-outline-secondary bi bi-person-plus-fill"(click)="openSM5(contenido5)" >
            Predecir IMC
        </button>
        
        <button class="btn btn-outline-secondary bi bi-person-plus-fill" (click)="openSM6(contenido6)">
            Predecir Stroke
        </button>
        
    </div>

        <img style="margin-left: 350px ;" src="https://cdn.dribbble.com/users/214929/screenshots/4967879/ai-loader-opt.gif" alt="gif de algo" class='eye'/>

</div>